Click the link below to sign in to your Medium account.

This link will expire in 2 hours and can only be used once.

<p style="margin-top:0; margin-bottom:20px"><a
        style="color: rgb(255, 255, 255) !important; text-decoration: none; display: inline-block; height: 38px; line-height: 38px; padding: 0px 24px; border: 0px; outline: 0px; background-color: rgb(26, 137, 23) !important; font-size: 14px; font-style: normal; font-weight: 400; text-align: center; white-space: nowrap; border-radius: 99em; margin-top: 25px; margin-bottom: 25px;"
        class="x_email-button x_email-marginVertical25" data-auth="Verified" rel="noopener noreferrer"
        href="{{link}}"
        data-linkindex="0">Sign in to KodingKorp</a></p>


If the button above doesn't work, paste this link into your web browser:
{{link}}

If you did not make this request, you can safely ignore this email.